/* Estilos para la lista de artículos */
ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

li {
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
    
}

/* Estilos para las imágenes de los artículos */
li img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilos para los títulos de los artículos */
li h3 {
    font-size: 18px;
    margin: 10px 0;
}

/* Estilos para los enlaces "Ver más" */
li a {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
li .ver-mas{
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

li .ver-mas:hover {
    background-color: #0056b3;
    cursor: pointer;
}

/* Estilos para los íconos de "Ver más" */
li i {
    margin-left: 5px;
    font-size: 14px;
}


.header {
    background-color: rgba(0, 0, 255, 0.774);
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px; 
  }
.header a{
  text-decoration: none;
  color: yellow;
}
  
  .titulo {
    color: yellow;
    font-size: 24px; 
  }
  
  .subtitulo {
    color: yellow;
    font-size: 12px; 
  }
  
  /* Media queries para hacer el encabezado responsive */
  @media (max-width: 768px) {    
    .header {
      flex-direction: column; 
      height: auto; 
      text-align: center; 
      padding: 20px; 
    }
  
    .titulo {
      font-size: 20px; 
    }
  
    .subtitulo {
      font-size: 12px; 
    }
   
   
  }

.section-camiseta-titu{
    display: flex;
    justify-content: center;
}

.section-short-titu{
    display: flex;
    justify-content: center;
}
.section-camiseta-sup{
    display: flex;
    justify-content: center;
}
.section-short-sup{
    display: flex;
    justify-content: center;
}
.section-buzo-entr{
    display: flex;
    justify-content: center;
}
.section-campera{
    display: flex;
    justify-content: center;
}
.section-camperon{
    display: flex;
    justify-content: center;
}
.section-buzo-gris{
    display: flex;
    justify-content: center;
}
.ul-footer{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    margin-top: 3px;
    
}
.h5-footer {
    font-size: xx-small;
    position:fixed;
    bottom: 0;
}
.agregar{
    background-color: #007bff;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    height: 35px;
    color: white;
}

/* ------CARRITO --- */
.carritoOculto {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: #fff; 
  border: 1px solid #000; 
  z-index: 1; 
  display: flex; 
  padding: 10px; 
  flex-direction: column;
  border-radius: 5%;
  max-width: 400px; /* Ancho máximo del carrito */
  width: 80%; /* Ajustar el ancho a tu preferencia */
  text-align: center; /* Centrar el contenido del carrito */
}
.carrito a{
  text-decoration: none;
  color: white;
}

ol {
  list-style: none; 
  padding: 0;
  margin: 0; 
}

.preciototal {
  background-color: blue;
  color: rgb(230, 230, 126);
}

.finalizarCompra {
  background-color: green;
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px; /* Separación desde arriba */
}

.vaciarCarrito {
  background-color: red;
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px; /* Separación desde arriba */
}

#carrito {
  color: white;
  margin-right: 15px;
}

.eliminar {
  background-color: red;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 12px;
  width: 14px;
  height: 14px;
  position: absolute;
  margin-left: 5px;
}

.eliminar:hover {
  background-color: darkred;
}

  
  .contador{
      display: flex;
      color: white;
      position: absolute;
      margin-left: -10px;
      margin-top: -10px;
  }

  footer{
      background-color:rgba(255, 255, 0, 0.699);
      width:100%;
      height: 20px;
     
  }

  .detalleOculto {
    display: none;
    background-color: yellow;
    max-width: 500px; 
    height: auto; 
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%); 
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.835), 0px 8px 10px rgba(0, 0, 0, 0.2);

  }
  
  /* Estilos adicionales para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .detalleOculto {
      width: 90%; 
      max-width: none; 
      left: 5%; 
      transform: translateX(0); 
    }
  }
  
  .botonCerrar{
      background-color: red;
      width: 20px;
      height: 20px;
      border-radius: 15px;
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 14px;
      color: white;
      align-items: center;
      justify-content: center;
      box-shadow: black 1px 2px 1px;
  }

  .nombreDetalle{
    font-size: 30px;
    text-align: center;
  }
  
  .precioDetalle{
    text-align: center;
  }
  .imagenDetalle{
      margin: 0 auto ;
  }

  .descripcionDetalle{
      background-color: #007bffd7;
      color: white;
      width: 80%;
      height: 100%;
      margin: 0 auto;
      margin-top:20px ;
      padding: 15px;
      border-radius: 15px;
      text-align: center;
  }

  .agregarDetalle{
    background-color: #007bff;
    border-radius: 15px;
    display: flex;
    font-size: 20px;
    color: white;
    margin: 0 auto ;
    margin-top: 10px;
    padding: 7px;
    align-items: center;
    justify-content: center;
    box-shadow: black 1px 2px 1px;
    cursor: pointer;
  }

  .agregarDetalle:hover{
    background-color: #f1d03d;
    color: black;
    
  }

  body{
    overflow-x: hidden;
  }